@import '../../assets/fonts/fonts.scss';
.tag {
  height: 14px;
  cursor: default;
  color: #FFFFFF;
  background-color: #5241BF;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 2.5px 3px 1.5px 3px;
  border-radius: 4px;
  font-family: 'Roboto';
  &__cross {
    cursor: pointer;
    margin-left: 4px;
  }
  &_community-tag {
    background-color: rgba(65, 191, 176, 1);
  }
}