@import '../../assets/fonts/fonts.scss';

.dapplet {
  font-family: 'SFProDisplay';
  display: flex;
  &__image {
    margin-left: 20px;
    align-self: center;
    border-radius: 10px;
  }
  &__caption {
    align-self: center;
    margin-left: 20px;
    min-width: 285px;
  }
  &__name {
    color: #2A2A2A;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
  &__code {
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    margin-top: 3px;
  }
  &__description {
    align-self: center;
    margin-left: 20px;
    color: #565555;
    font-size: 16px;
    line-height: 19px;
    width: 150px;
  }
  &__user {
    color: #BBBBBB;
    font-size: 14px;
    line-height: 16px;
    align-self: center;
    margin-left: 20px;
    font-family: 'Roboto';
    flex-grow: 1;
    width: 95px;
  }
  &__tags {
    min-width: 139px;
    margin-left: 20px;
    display: flex;
    align-self: center;
    flex-direction: column;
    &-top-row {
      display: flex;
    }
    &-bottom-row {
      display: flex;
      margin-top: 10px;
    }
  }
  &__tag-container {
    margin-right: 4px;
    justify-self: end;
  }
  &__cross {
    cursor: pointer;
    margin-left: 4px;
  }
  &__button-container {
    display: flex;
    min-width: 100px;
    margin-left: 20px;
    justify-content: flex-end;
    justify-self: end;
  }
  &__install-button {
    text-transform: uppercase;
    font-family: 'SFProDisplay';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 6px 20px;
    color: #FFF;
    border-radius: 50px;
    align-self: center;
    cursor: pointer;
    transition: ease-out 0.3s;
    &:hover {
      box-shadow: 5px 5px 5px #a2a5a7;
    }
    &_uninstalled {
      background: #0085FF;
    }
    &_installed {
      background: #CCD4DB;
    }
  }
}