@font-face {
  font-family: 'SF-Pro-Display';
  src: url('./SF-Pro-Display-Regular.otf') format('otf');
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('./SF-Pro-Display-Bold.otf') format('otf');
  font-weight: bold;
	font-style: normal;
}