@import '../../media-mixins';

.search-bar {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  &__input-container {
    position: relative;
    flex-grow: 1;
  }
  &__input {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    width: 100%;
    outline: none;
    padding-left: 36px;
    min-width: 350px;
    &:focus {
      border: 1px solid rgba(0, 133, 255, 0.5);
    }
    &::placeholder {
      color: #BBBBBB;
    }
  }
  @include media-md {
    &__input {
      min-width: 250px;
    }
  }
  @include media-xs {
    &__input {
      font-size: 12px;
      line-height: 14px;
      min-width: 300px;
      height: 30px;
    }
  }
  &__icon {
    position: absolute;
    left: 10px;
    top: 12px;
  }
  @include media-xs {
    &__icon {
      top: 7px;
    }
  }
  &__sorting {
    display: flex;
  }
  @include media-md {
    &__sorting {
      align-self: center;
      margin-top: 20px;
    }
  }
  @include media-xs {
    &__sorting {
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
    }
  }
  &__release-date-container {
    position: relative;
  }
  &__release-date, &__sorting-button {
    padding: 11px 15px 10px 10px;
    appearance: none;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
    width: 210px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
  }
  @include media-md {
    &__release-date {
      margin-left: 0;
    }
  }
  @include media-xs {
    &__release-date, &__sorting-button {
      padding: 8px 10px;
      font-size: 12px;
      line-height: 14px;
      margin-left: 0;
      height: 30px;
      width: 100%;
      min-width: 300px;
    }
  }
  &__sorting-button {
    text-align: left;
  }
  &__arrow-icon {
    position: absolute;
    right: 10px;
    top: 17px;
    cursor: pointer;
    transition: ease-out 0.3s;
    &-up {
      transform: rotate(180deg);
    }
  }
  @include media-xs {
    &__arrow-icon {
      top: 12px;
    }
  }
  &__sorting-container {
    position: relative;
  }
  @include media-xs {
    &__sorting-container {
      margin-top: 10px;
    }
  }
}
@include media-md {
  .search-bar {
    flex-direction: column;
  }
}
@include media-xs {
  .search-bar {
    padding-bottom: 10px;
  }
}