@import '../../media-mixins';

.left-aside {
  padding: 77px 0;
  backdrop-filter: blur(30px);
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 1);
  width: 96px;
  position: relative;
  z-index: 0;
  &__logo {
    margin-bottom: 20px;
    align-self: center;
  }
  &__codesandbox {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-right: 4px solid #0085FF;
    position: relative;
    min-width: 96px;
    z-index: 5;
    padding: 15px 0;
    justify-content: center;
    &-icon {
      cursor: pointer;
      box-shadow: 0 0 30px 3px rgba(0, 133, 255, 0.5);
      mix-blend-mode: multiply;
      background-color: rgba(0, 133, 255, 0.18);
    }
  }
  &__regular-box {
    margin-top: 30px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }
  &__regular-icon {
    cursor: pointer;
  }
}
@include media-lg {
  .left-aside {
    display: none;
  }
}