.App {
  background-image: url(./assets/BG.png);
  background-repeat: no-repeat;
  background-size: 95vw;
  background-position: top;
  background-attachment: fixed;
  max-width: 100%;
  height: 100%;
  display: flex;
}


